/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* We need to rework on the design */

* {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;

    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(45deg, #0f0c29, #24243e);
}

header {
    display: flex;
    justify-content: center;
}

.header-logo {
    padding: 10px 0;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.header-logo-img {
    padding-right: 5px;
}

.header-logo-text {
    padding-left: 5px;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}

main {
}

footer {
}