:root {
    /* Colours */
    --primary_color: #ffffff;
    --background_color: rgba(5, 5, 5, 0.2);
    --text_color: rgb(255, 255, 255);

    /* Variables for font */
    --font_family_main: 'Zen Kaku Gothic New', sans-serif;
    --font_weight_light: 300;
    --font_weight_regular: 400;
    --font_weight_medium: 500;
    --font_weight_bold: 700;
    --font_size: 20px;
}

html {
    font-family: var(--font_family_main);
    font-weight: var(--font_weight_light);
    font-size: var(--font_size);
    color: var(--text_color);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}