/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

* {
    font-family: "Rajdhani", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*backdrop-filter: blur(10px);*/
}

button {
    background: transparent;
    outline: none;
}

.header-logo-img {
    cursor: pointer;
    padding: 10px 20px;
}

.header-nav-list {
    list-style: none;
}

.header-nav-list li {
    display: inline-block;
    padding: 0 20px;
}

.header-nav-list li a {
    text-decoration: none;
    font-size: 18px;

    transition: color 0.4s;
}

.header-nav-list li a:hover {
    color: lightgray;
}

.header-settings-btn {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    cursor: pointer;
}

main {
    height: 80%;
}

footer {
    height: 10%;
}

.footer-meta-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.footer-meta-list li {
    display: inline-block;
    padding: 0 30px;
}

.footer-meta-list li a {
    text-decoration: none;
    font-size: 15px;
}